# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
.DS_Store
Thumbs.db

# Virtual environments
.venv/
venv/

# Environment configurations
.env
.env.local

# Project specific datasets/databases
details.db
lyrica_index.zip
songs.csv
sample_index_backup/
search_history.json
*.mp3

# Subprojects
frontend/